.card{
    width: 50px;
    height: auto;
    border: none;
}
.card img{
    width: 50px;
    height: 50px;
}
ul li a:hover{
    color: #0a58ca;
}
.nav-link {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Thêm transition */
}